
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.img1{

    height: 10vh;
    width:10vw;
}

nav {
    color: white;
    background: linear-gradient(45deg,black, darkblue,black);
    display: flex;
    height: 10vh;
    width: 98.5vw;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    
}

ul li {
    display: inline;
    padding: 5px;
}

ul li:hover{

    border:1px solid white;
    border-radius: 3px;
}

h1{
    align-items: center;
    display: flex;
}
p{
    font-size: 18px;
}

.container{

    background: white url(./pexels-photo-269077.jpeg) no-repeat  center;
    height: 100vh;
    width: 98.7vw;
    background-size: cover;
}
.container-wrapper{
    color: white;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container-wrapper h1{

    font-size: 35px;
}

.buttn{

    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

.buttn:hover{

    scale: 120%;
}
